alembic==1.7.7
aniso8601==9.0.1
attrs==21.4.0
autopep8==1.5.7
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
boto3==1.18.41
botocore==1.21.41
cachetools==5.0.0
captionstransformer==1.2.1
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.5
click==8.0.1
colorama==0.4.4
colored==1.4.3
cryptography==3.4.8
digital-ocean-spaces==0.2.5
dnspython==2.2.1
docutils==0.17.1
email-validator==1.1.3
fernet==1.0.1
Flask==2.0.2
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
google-api-core==2.7.1
google-auth==2.6.2
google-cloud-texttospeech==2.11.0
googleapis-common-protos==1.56.0
googletrans==3.1.0a0
greenlet==1.1.2
grpcio==1.44.0
grpcio-status==1.44.0
gTTS==2.2.4
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.8.1
itsdangerous==2.1.1
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==4.4.0
keyring==23.2.1
Mako==1.2.0
MarkupSafe==2.1.1
mkdir==2020.12.3
orderdict==2020.12.3
packaging==21.0
pkginfo==1.7.1
progress==1.6
proto-plus==1.20.3
protobuf==3.19.4
psycopg2==2.9.3
pyaes==1.6.1
pyaml==21.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==0.20.0
pytube==12.0.0
pytz==2021.3
PyYAML==5.4.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.0
SecretStorage==3.3.1
setupcfg==2020.12.3
setuppy-generator==2020.12.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.29
subtrs==2.1
toml==0.10.2
tqdm==4.62.2
twine==3.4.2
urllib3==1.26.6
values==2020.12.3
webencodings==0.5.1
Werkzeug==2.0.3
write==2020.12.3
WTForms==3.0.1
zipp==3.5.0
